// general
$black-50-opacity: rgba(0, 0, 0, 0.5);
$white-50-opacity: rgba(255, 255, 255, 0.5);
$white: #ffffff;
$light-grey: #d3d3d3;

// strict
$nav-color: #5f9ea0;
$main-dark-bg: #212529;
$content-bg: #d3d3d3;
$body-bg: #a9a9a9;
$media-type-icon: #ebe8e8;
$media-type-icon-bg: rgba(0,0,0,0.2);
