$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './colors.scss';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $body-bg;
}

// overwrite bootstrap5 style
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: $white;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    & > .carousel-control-next-icon, & > .carousel-control-prev-icon {
        filter: opacity(0.3);
    }
}

.subpage-header {
    background-color: $light-grey;
    font-size: 18px !important;
    font-weight: bold;
    -webkit-box-shadow: 0 0 3px 1px $black-30-opacity;
    box-shadow: 0 0 3px 1px $black-30-opacity;
    &.details {
        box-shadow: unset;
        border: 1px solid darkgrey;
    }
}

.single-item-box-shadow {
    -webkit-box-shadow: 0 0 2px 0 $black-20-opacity;
    box-shadow: 0 0 2px 0 $black-20-opacity;
}

.box-background {
    background-color: $light-grey;
}

.cursor-pointer {
    cursor: pointer;
}
